* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.preview-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #6497B1;
}


.input-column button {
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;
    background-color: #03396C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
    
.input-column{
    width: 40%; /* Adjust width as needed */
    background-color: #6497B1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: auto;
}
.display-column{
    height: auto;
    width: 60%; /* Adjust width as needed */
    /* background-color: #B3CDE0; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.display-column p {
    margin: 10px 0;
    font-size: 1.2em;
}
