.template-one {
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.header {
  text-align: center;
  align-content: center;
  margin-bottom: 20px;
  font-size: 11px;
}

.header h1 {
  font-size: 30px;
  margin: 0;
  color: #ddd;
}

.header h2 {
  font-size: 18px;
  font-weight: normal;
}

.contact-info {
  align-items: center;
  margin-left: 7rem;
  display: flex;
  gap: 5px; 
}


.contact-info p {
  margin: 5px 0px;
  font-size: 12px;
}

section {
  margin-bottom: 20px;
}

.summary{
 font-size: 11px;
}
.experience,
.education,
.skills{
  font-size: 11px;
}

.experience-item h4{
  font-size: 12px;
}
section h3 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}

.skills-content p {
  margin: 5px 0;
}

.experience-item, .education-item {
  margin-bottom: 10px;
}

.experience-item h4, .education-item h4 {
  font-size: 18px;
  margin: 0;
}

.experience-item p, .education-item p {
  margin: 5px 0;
}

.add-button{
  height: 30px;
  width: 40px;
  background-color: #005B96;
  margin-top: 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  align-content: center;
  margin: 10px;
}
.remove-button{
  height: 30px;
  width: 40px;
  background-color: #005B96;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  align-content: center;
  margin: 10px;
}

/* Hide the default checkbox */
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.custom-checkbox input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

/* Style the custom checkbox */
.custom-checkbox{
  margin-top: 0px;
}
.custom-checkbox .checkmark {
  position: absolute;
  top: 0px;
  left: 68px;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.custom-checkbox p{
  margin-top: 10px
}
/* When the checkbox is checked, add a tick */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #4CAF50;
}

.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
  
}

.custom-checkbox .checkmark:after {
  left: 7px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
}

.courses-certificates p, .interests-hobbies p {
  margin: 10px 0;
  line-height: 1.5;
  white-space: pre-wrap; /* To preserve line breaks in the text */
}
.courses-certificates{
  font-size: 11px;
}