/* Container for the login form */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:
}

/* Styling for the form */
.login-form {
    background: #6497B1;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(62, 152, 236, 0.3);
    max-width: 400px;
    width: 100%;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Floating effect on hover */
.login-form:hover {
    box-shadow: 0 20px 40px rgba(74, 164, 248, 0.4);
}

/* Form header */
.login-form h2 {
    margin-bottom: 1.5rem;
    font-size: 1.75rem; 
    font-weight: bold; 
    color: #d0e7fd; 
    text-align: center;
}

/* Styling for input fields and labels */
.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem; 
    color: #cddffa; 
}

.input-group input {
    width: 90%;
    padding: 0.75rem;
    border-radius: 8px; 
    border: 1px solid #6497B1; 
    font-size: 1rem;
    color: #011F4B; 
    background-color: #f9f9f9; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    margin-bottom: 1rem; 
}

/* Input field styles on focus and hover */
.input-group input:focus,
.input-group input:hover {
    border-color: #dbedff; 
    box-shadow: 0 0 0 3px rgba(8, 84, 156, 0.2); 
}

/* Styling for the submit button */
button {
    display: block;
    width: 100%; 
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #08549C; 
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #011F4B; 
}

/* Styling for the register link */
.register-link {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem; 
}

.register-link a {
    color: #08549C; 
    font-weight: bold; 
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Styling for the forgot password link */
.forgot-password-link {
    margin-top: 0.5rem;
    text-align: right;
    font-size: 0.9rem; 
}

.forgot-password-link a {
    color: #08549C; 
    font-weight: bold; 
    text-decoration: none;
}

.forgot-password-link a:hover {
    text-decoration: underline;
}
